img {
    display: block;
    max-width:530px;
    max-height:230px;
    width: auto;
    height: auto;
    border: 5px solid #fff;
    border-radius: 4px;
    padding: 0px;
}

body {
    background-color: #f0e0d6;
}

h2 {
    font-family: Inconsolata;
}